<%-include('header')%>
    <%-include('adminNav')%>
        <div class="admin-home-container">
            <div class="user-manage-header">
                <h2>Users List</h2>
            </div>
            <div class="admin-search-box">
                <form action="/admin/home" method="get">
                    <input type="text" name="adminSearch" placeholder="Search" id="admin-input-box">
                    <button class="btn btn-info" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>

                </form>
            </div>
            <div class="admin-user-view">
                <table>
                    <thead>
                        <tr>
                            <th>sl</th>
                            <th>User id</th>
                            <th>User Name</th>
                            <th>Mail id</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% user.forEach((user,index)=>{ %>
                            <tr>
                                <th>
                                    <%= index+1 %>
                                </th>
                                <td>
                                    <%= user.id %>
                                </td>
                                <td>
                                    <%= user.name %>
                                </td>
                                <td>
                                    <%= user.email %>
                                </td>
                                <td>
                                    <button class="btn btn-secondary">Update</button>
                                    <button class="btn btn-danger">Delete</button>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
        <%-include('footer')%>